// Import Google fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Raleway:400,100,300,700,500");

// Define fonts for body and headers
$body-font: -apple-system, BlinkMacSystemFont, sans-serif;
$headers-font: -apple-system, BlinkMacSystemFont, sans-serif;

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";
@font-face {
  font-family: 'Canela Web';
  src: font-url('Canela-Thin-Web.eot');
  src: font-url('Canela-Thin-Web.eot?#iefix') format('embedded-opentype'),
  font-url('Canela-Thin-Web.woff2') format('woff2'),
  font-url('Canela-Thin-Web.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-stretch: normal;
}


@font-face {
  font-family: 'Canela Web';
  src: font-url('Canela-Light-Web.eot');
  src: font-url('Canela-Light-Web.eot?#iefix') format('embedded-opentype'),
  font-url('Canela-Light-Web.woff2') format('woff2'),
  font-url('Canela-Light-Web.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Canela Web';
  src: font-url('Canela-Regular-Web.eot');
  src: font-url('Canela-Regular-Web.eot?#iefix') format('embedded-opentype'),
  font-url('Canela-Regular-Web.woff2') format('woff2'),
  font-url('Canela-Regular-Web.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Canela Web';
  src: font-url('Canela-Regular-Web.eot');
  src: font-url('Canela-Regular-Web.eot?#iefix') format('embedded-opentype'),
  font-url('Canela-Regular-Web.woff2') format('woff2'),
  font-url('Canela-Regular-Web.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Canela Web';
  src: font-url('Canela-Bold-Web.eot');
  src: font-url('Canela-Bold-Web.eot?#iefix') format('embedded-opentype'),
  font-url('Canela-Bold-Web.woff2') format('woff2'),
  font-url('Canela-Bold-Web.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Canela Web';
  src: font-url('Canela-Black-Web.eot');
  src: font-url('Canela-Black-Web.eot?#iefix') format('embedded-opentype'),
  font-url('Canela-Black-Web.woff2') format('woff2'),
  font-url('Canela-Black-Web.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
}
