// Import page-specific CSS files here.
@import "home";

body {
  background: $black;
}

body.events_index {
  background: linear-gradient(45deg, $red, $black, $red);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
}


.catchphrase {
  position: absolute;
  bottom: 25%;
  left: 0;
  right: 0;
}

#hero-logo {
  height: 100vh;

}

@media all and (min-width: 556px) {
  .catchphrase {
    bottom: 20%;
  }
  .catchphrase h3 {
    font-size: 1.5rem;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
