// Import page-specific CSS files here.
@import "home";

body {
  background: #38063A;
  // background: linear-gradient(0deg, rgba(0,0,0,1) 65%, rgba(67,67,67,1) 100%);
}

.catchphrase {
  position: absolute;
  bottom: 23%;
  left: 0;
  right: 0;
}
