.button-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
  padding: 0 30px;
}

.butn {
  display: block;
  text-align: center;
  padding: 8px 8px 8px 8px;
  height: 105px;
  border-radius: 6px;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
}

.event-image {
  height: 250px;
}

.comment-body {
  padding: 8px 12px 10px 12px;
  background: $light-gray;
  border-radius: 16px;
}

.comment-body-red {
  padding: 8px 12px 10px 12px;
  background: $red;
  border-radius: 16px;
  color: white;
}

.padding-top-2 {
  padding-top: 2px;
}

#comment_body {
  border: 1px $gray solid !important;
  height: 40px;
  border-radius: 2rem !important;
}

.green-text {
  color: $green;
}

.img-container {
  margin-right: 10px;
  padding-top: 5px;
}

.red-text {
  color: $red;
}

.white-text {
  color: white;
}

.green-border {
  border: 1px $green solid;
  height: 100%;
  border-radius: 6px;
  padding: 18px 0 0 0;
}

.red-border {
  border: 1px $red solid;
  height: 100%;
  border-radius: 6px;
  padding: 18px 0 0 0;
}

.join-red {
  border: 1px $red solid;
  background: $red;
  height: 100%;
  border-radius: 6px;
}

// .join-red:active {
//   border: 1px $green solid;
//   background: $green;
// }

// .join-red:hover {
//   border: 1px $green solid;
//   background: $green;
// }

.map {
  width: 13px;
  margin-right: 20px;
}

.clock {
  width: 15px;
  margin-right: 20px;
}

.event-border {
  margin-bottom: 20px;
  padding-top: 30px;
  border-top: 1px $gray solid;
}

.x-small {
  font-size: .67rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.grow {
  flex-grow: 1;
}

.flex {
  display: flex;
  align-items: center;
}

.mt-20 {
  margin-top: 20px;
}

.mt-35 {
  margin-top: 35px;
}

.mt-40 {
  margin-top: 40px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

.marginr-4 {
  margin-right: 4px;
}

.mb-35 {
  margin-bottom: 35px;
}


.mb-40 {
  margin-bottom: 40px;
}

.avatar {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.justify-between {
  justify-content: space-between;
}

.light {
  font-weight: 400;
}

.bold {
  font-weight: 600;
}

.small {
  font-size: .83rem;
}

.image {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.event-info {
  margin-top: 40px;
  padding: 0px 30px;
}

.button-cancel {
  width: 100%;
  height: 40px;
  border-radius: 30px;
  background: $red;
  color: white;
  text-align: center;
  padding-top: 9px;
  letter-spacing: 1px;
}

.button-black {
  height: 30px;
  border-radius: 15px;
  background: $black;
  color: white;
  padding: 6px 20px 0 20px;
  letter-spacing: 1px;
  text-align: center;
  margin-right: 5px;
}





.input_comment {
  background-color: rgba(0,0,0,0);
}

::placeholder {
  color: $light-gray;
}

#comment_body {
  border-radius: 1rem;
  border-color: $light-gray;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
  border-image: 0;
  margin-top: 20px;
}

.comment {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}


.mt-10 {
  margin-top: 10px;
}

.avatar {
  border-radius: 50%;
  margin-right: 5px;
  margin-left: 0;
  object-fit: cover;
  margin-top: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}

.header-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 2.5px;
}

.time-ago {
  font-weight: lighter;
  margin-left: 10px;
}

.reply {
  display: flex;
  flex-direction: row;
  margin-top: 2.5px;
}

.fas .fa-reply {
  margin-right: 10px;
}


// .page-container {
//   background-color: $egrayone;
//   padding: 20px;
// }

// .line {
//   border-top: 1px solid $egraytwo;
//   margin: 0;
//   margin-top: 6px;
// }

// .show-container {
//   background-color: $egraythree;
//   padding: 20px;
//   border-radius: 12px;
//   margin: 20px;
// }

// .buttons {
//   display: flex;
//   justify-content: space-between;
//   flex-direction: row;
//   margin-left: 40px;
//   margin-right: 40px;
//   margin-top: 10px;
//   margin-bottom: 0;
// }

// .btn-square h5 {
//   margin: 0;
// }

// .btn-square {
//   height: 3rem;
//   width: 3rem;
//   margin: 0;
//   background-color: $egreen;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   border-radius: 6px;
// }

// .needed {
//   background-color: $egraytwo;
// }

// .plus-u {
//   background-color: rgba(0,0,0,0);
//   border: 1px $egreen solid
// }

// .plus-u:hover {
//   background-color: $egreen;
// }

// .img-carousel {
//   background-color: $egraytwo;
//   height: 12rem;
//   margin-top: 20px;
//   margin-left: -20px;
//   margin-right: -20px;
// }

// .img-scroll-indicator {
//   height: 1rem;
//   width: 3rem;
//   display: flex;
//   flex-direction: row;
//   justify-content: space-between;
//   margin-top: 10px;
// }

// .circle {
//   height: .6rem;
//   width: .6rem;
//   border-radius: 50%;
//   background-color: #FFF;
// }

// .inactive-circle {
//   background-color: rgba(0,0,0,0);
//   border: 1px solid $egraytwo;
// }

// .title h2 {
//   margin: 0;
//   margin-top: 10px;
//   font-size: 30px;
// }

// .info-container {
//   margin-top: 10px;
//   display: flex;
//   flex-direction: row;
//   align-items: top;
// }

// .info-container i {
//   margin-top: 4px;
//   color: $egraytwo;
// }

// .info-text {
//   margin-left: 20px;
//   font-size: 16px;
// }

// .regular {
//   color: #FFF;
// }

// .italic {
//   font-style: italic;
//   color: $egraytwo;
//   margin-top: -5px;
// }

// .messages {
//   margin-top: 20px;
//   height: 24rem;
//   border-radius: 12px;
//   border: 1px solid #FFF;
// }

// .new-message {
//   margin-top: 10px;
//   height: 2rem;
//   border-radius: 12px;
//   border: 1px solid #FFF;
//   display: flex;
// /*  justify-content: center;*/
//   align-items: center;
// }

// .new-message p {
//   font-size: 14px;
//   color: $egraytwo;
//   margin: 0;
//   margin-left: 20px;
// }
