.button-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
  padding: 0 30px;
  width: 600px;
}


.mb-60 {
  margin-bottom: 60px;
}

.text-center {
  text-align: center;
}

.butn {
  display: block;
  text-align: center;
  padding: 8px 8px 8px 8px;
  padding-top: 100%;
  position: relative;
  height: 105px;
  border-radius: 6px;
  background: #3f0542;
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.1);
}

#comment_body {
  color: white;
  font-size: .9rem;
  outline: 0;
}

input,
textarea,
select {
    outline: 0;
}

input:hover,
textarea:hover,
input:focus,
textarea:focus {
    border: solid 2px blue;
}

.comment {
  flex-direction: row-reverse;
  display: flex;
  margin-bottom: 20px;
  justify-content: flex-end;

  .comment-body {
    padding: 10px 20px 10px 20px;
    background: $gray;
    border-radius: 4px 20px 20px 20px;
  }

  &.self-comment {
    flex-direction: row;
    justify-content: flex-end;

    .comment-body {
      background: $red;
      border-radius: 20px 4px 20px 20px;
      color: white;
      margin: 5px 0px;
    }
  }
}

.content {
  p {
    overflow-wrap: break-word;
  }
}

.padding-top-2 {
  padding-top: 2px;
}

#comment_body {
  border: 1px $gray solid !important;
  background: none;
  height: 40px;
  border-radius: 2rem !important;
}

.green-text {
  color: $green;
}

.img-container {
  margin-right: 10px;
  padding-top: 5px;
}

.event-image {
  object-fit: cover;
  height: 100%;
  width: 100%;
  opacity: 0.8;
}

.red-text {
  color: $red;
}

.white-text {
  color: white;
}

.margin-bottom-5 {
  margin-bottom: 5px;
}

.pr-9 {
  padding-right: 9px;
}

.green-border {
  border: 1px $green solid;
  height: 100%;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.mb-10 {
  margin-bottom: 10px;
}

.red-border {
  border: 1px $red solid;
  height: 100%;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.join-red {
  border: 1px $red solid;
  background: $red;
  height: 100%;
  border-radius: 6px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  .plus-container {
    position: absolute;
    top: 3px;
    left: -13.7px;
  }
}

.join-green {
  border: 1px $green solid;
  background: $green;
  height: 100%;
  border-radius: 6px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  .plus-container {
    position: absolute;
    top: 3px;
    left: 10.2px;
  }
  // height: 100%;
  // border-radius: 6px;
}

// .join-red:active {
//   border: 1px $green solid;
//   background: $green;
// }

// .join-red:hover {
//   border: 1px $green solid;
//   background: $green;
// }

.map {
  width: 13px;
  margin-right: 20px;
}

.clock {
  width: 15px;
  margin-right: 20px;
}

.mb-16 {
  margin-bottom: 16px;
}

.event-border {
  margin-bottom: 60px;
  padding-top: 20px;
  border-top: 1px $gray solid;
}

.x-small {
  font-size: .75rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.grow {
  flex-grow: 1;
}

.flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.mt-20 {
  margin-top: 20px;
}

.mt-35 {
  margin-top: 35px;
}

.mt-40 {
  margin-top: 40px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

.marginr-4 {
  margin-right: 4px;
}

.mb-35 {
  margin-bottom: 35px;
}


.mb-40 {
  margin-bottom: 40px;
}

.justify-between {
  justify-content: space-between;
}

.light {
  font-weight: 400;
}

.bold {
  font-weight: 600;
}

.small {
  font-size: .83rem;
}

.image {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

a {
  color: $gray;
}

.mb-20 {
  margin-bottom: 20px;
}

.event-container{
  width: 100vw;
}

.event-info {
  padding: 0px 30px;
  padding-bottom: 40px;
  width: 600px;
}

.button-cancel {
  width: 100%;
  height: 40px;
  border-radius: 30px;
  background: $red;
  color: white;
  text-align: center;
  padding-top: 9px;
  letter-spacing: 1px;
}

.button-gray-border {
  height: 32px;
  border-radius: 15px;
  border: 1px solid $gray;
  color: white;
  padding: 6px 20px 0 20px;
  letter-spacing: 1px;
  text-align: center;
  margin-right: 5px;
}

.input_comment {
  background-color: rgba(0,0,0,0);
}

::placeholder {
  color: $gray;
}

#comment_body {
  border-radius: 1rem;
  border-color: $light-gray;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
  border-image: 0;
  margin-top: 20px;
}

.avatar-red {
  border-radius: 50%;
  margin-left: 5px;
  object-fit: cover;
  margin-top: 0;
  overflow: hidden;
  width: 40px;
  height: 40px;
  opacity: 0.8;
  margin-top: 19px;
}

.avatar-gray {
  border-radius: 50%;
  margin-right: 5px;
  object-fit: cover;
  margin-top: 0;
  overflow: hidden;
  width: 40px;
  height: 40px;
  opacity: 0.8;
  margin-top: 19px;
}


.mt-10 {
  margin-top: 10px;
}

.avatar {
  border-radius: 50%;
  margin-right: 5px;
  margin-left: 0;
  object-fit: cover;
  margin-top: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  opacity: 0.8;
}

.mb-5 {
  margin-bottom: 5px;
}

.mb-30 {
  margin-bottom: 30px;
}

.avatar-big {
  border-radius: 50%;
  margin-right: 5px;
  margin-left: 0;
  object-fit: cover;
  margin-top: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  margin-top: 5px;
  opacity: 0.8;
}

.event-image-container {
  height: 250px;
}


.header-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 2.5px;
}

.time-ago {
  font-weight: lighter;
  margin-left: 10px;
}

.reply {
  display: flex;
  flex-direction: row;
  margin-top: 2.5px;
}

.fas .fa-reply {
  margin-right: 10px;
}

@media screen and (min-width: 576px) {
  .event-image-container {
    height: 350px;
  }
}

@media screen and (min-width: 660px) {
  .event-info {
    padding-bottom: 40px;
  }
  .button-container {
    padding: 0;
    grid-gap: 25px;
  }
}

@media screen and (min-width: 576px) {
  .event-image-container {
    height: 700px;
  }
}
