<div class="friends_tile">
  <% users.each do |user| %>
    <div class="friends">
      <%= link_to cl_image_tag(user.photo.key, class: "tile__img__small"), user_path(user) %>
      <div class="friend-text">
        <div class="white-card flex justify-between">
          <% if @user.is_following?(user.id) %>
            <p class="text-gray small"><%= user.username.capitalize %></p>
            <i class="fas fa-check small text-green"></i>
          <% else %>
            <p class="text-gray small"><%= user.username.capitalize %></p>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>





