<div class="app-navbar">
  <h1>+U</h1>

  <input id="burger" type="checkbox" />

  <label for="burger">
    <span></span>
    <span></span>
    <span></span>
  </label>
  <% if current_user %>
    <nav class="menu">
      <ul>
        <li><a href="#">Add Event</a></li>
        <li><a href="#"><%= link_to "Profile", user_path(current_user.id) %></a></li>
        <li><a href="#">Messages</a></li>
        <li><a href="#">Search</a></li>
        <li><a href="#">Sign Out</a></li>
      </ul>
  <% end %>
  </nav>
</div>
