<div class="notification">
  <div class="img-name-container">
    <p class="text-white"><%= comment.user.username %></p>
  </div>

  <div class="content-container w-100">
    <div class="header-container">

    </div>
    <div class="content">
      <p class="text-black"><%= comment.body %></p>
    </div>
  </div>
