<h2 class="mb-20">Friends I have met</h2>

<% users.each do |user| %>
<div class="tile__small">
  <div class="tile__media">
    <%= link_to cl_image_tag(user.photo.key, class: "tile__img__small"), user_path(user) %>
    <div class="white-card">
      <h3><%= user.username.capitalize %> </h3>
    </div>
  </div>
</div>
<% end %>
