<%= link_to event_path(event) do %>
<div>
  <div>
    <p class="small text-green"> <%= start_time_humanized(event) %></p>
    <h3 class="mb-20"><%= event.name %></h3>
    <p class="small map-direction">Get directions</p>
  </div>
</div>
<% end %>
