<div class="contain">
  <div class="row">
    <div class="row__inner">

      <div class="tile">
        <div class="tile__media">
          <h2 class="tile__tag">Happening Now</h2>
          <img class="tile__img" src="../assets/beer" alt=""  />
          <h3>Beer Pong Ding Dong</h3>
        </div>
      </div>

      <div class="tile">
        <div class="tile__media">
          <h3 class="tile__tag">Happening Now</h3>
          <img class="tile__img" src="../assets/beer" alt=""  />
          <h1>Beer Pong Ding Dong</h1>
        </div>
      </div>

      <div class="tile">
        <div class="tile__media">
          <h3 class="tile__tag">Happening Now</h3>
          <img class="tile__img" src="../assets/beer" alt=""  />
          <h1>Beer Pong Ding Dong</h1>
        </div>
      </div>



    </div>
  </div>

</div>



<!-- next line displays an image from cloudinary!!! -->

    <% @events.each do |event| %>
    <%= cl_image_tag event.photo.key, height: 300, width: 400, crop: :fill %>
    <% end %>

<!-- the map below cant be seen because its behind the carrousel.
  Copy paste from line 10 to 15 and you have a map!! -->
  <div
    id="map"
    style="width: 100%;
    height: 200px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV["MAPBOX_API_KEY"] %>"
  ></div>

