<!-- HAPPENING NOW -->

<!-- the next 5 lines create event arrays by category
that can be used to iterate in each one of the carrousels =) -->

<!--
<% sports_events = Event.where(categories = "sport") %>
<% nature_events = Event.where(categories = "nature") %>
<% board_games_events = Event.where(categories = "board games") %>
<% social_events = Event.where(categories = "social") %>
<% happening_now = Event.where(time: (DateTime.now-2.hour..DateTime.now+2.hour)) %>
-->


<div class="contain" style="margin-top: 100px;">
  <div class="row">
    <div class="row__inner">

      <div class="tile">
        <div class="tile__media">
          <h2>Happening Now</h2>
          <div class="tile_img_contain">
            <div class="absolute">
                <h2 class="tile__going">42</h2>
                <h2 class="tile__going red">42</h2>
            </div>
            <img class="tile__img" src="../assets/beer" alt=""  />
          </div>
          <p>5 minutes</p>
          <h3>Beer Pong Ding Dong</h3>
        </div>
      </div>

      <div class="tile">
        <div class="tile__media">
          <img class="tile__img" src="../assets/beer" alt=""  />
          <p>5 minutes</p>
          <h3>Beer Pong Ding Dong</h3>
        </div>
      </div>

      <div class="tile">
        <div class="tile__media">
          <img class="tile__img" src="../assets/beer" alt=""  />
          <p>5 minutes</p>
          <h3>Beer Pong Ding Dong</h3>
        </div>
      </div>

    </div>
  </div>
</div>

<!-- FRIENDS I HAVE MET -->

<div class="contain">
  <div class="row">
    <div class="row__inner">

      <div class="tile__small">
        <div class="tile__media">
          <h2>Friends I have met</h2>
          <img class="tile__img__small" src="../assets/beer" alt=""  />
          <h3>First name</h3>
        </div>
      </div>

      <div class="tile__small">
        <div class="tile__media">
          <img class="tile__img__small" src="../assets/beer" alt=""  />
          <h3>First name</h3>
        </div>
      </div>

      <div class="tile__small">
        <div class="tile__media">
          <img class="tile__img__small" src="../assets/beer" alt=""  />
          <h3>First name</h3>
        </div>
      </div>

    </div>
  </div>
</div>


<!-- FEELING ADVENTUROUS? -->

<div class="contain">
  <div class="row">
    <div class="row__inner">

      <div class="tile">
        <div class="tile__media">
          <h2>Feeling adventurous?</h2>
          <div class="tile_img_contain">
            <div class="absolute">
              <h2 class="tile__going">42</h2>
              <h2 class="tile__going red">42</h2>
            </div>
            <img class="tile__img__medium" src="../assets/beer" alt=""  />
          </div>
          <p>5 minutes</p>
          <h3>Beer Pong Ding Dong</h3>
        </div>
      </div>

      <div class="tile">
        <div class="tile__media">
          <img class="tile__img__medium" src="../assets/beer" alt=""  />
          <p>5 minutes</p>
          <h3>Beer Pong Ding Dong</h3>
        </div>
      </div>

      <div class="tile">
        <div class="tile__media">
          <img class="tile__img__medium" src="../assets/beer" alt=""  />
          <p>5 minutes</p>
          <h3>Beer Pong Ding Dong</h3>
        </div>
      </div>

    </div>
  </div>
</div>

<!-- MAP -->
  <div
    id="map"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV["MAPBOX_API_KEY"] %>"
  >

  </div>

<!-- FEELING ADVENTUROUS? -->

<div class="contain">
  <div class="row">
    <div class="row__inner">

      <div class="tile">
        <div class="tile__media">
          <h2>Feeling adventurous?</h2>
          <div class="tile_img_contain">
            <div class="absolute">
              <h2 class="tile__going">42</h2>
              <h2 class="tile__going red">42</h2>
            </div>
            <img class="tile__img__medium" src="../assets/beer" alt=""  />
          </div>
          <p>5 minutes</p>
          <h3>Beer Pong Ding Dong</h3>
        </div>
      </div>

      <div class="tile">
        <div class="tile__media">
          <img class="tile__img__medium" src="../assets/beer" alt=""  />
          <p>5 minutes</p>
          <h3>Beer Pong Ding Dong</h3>
        </div>
      </div>

      <div class="tile">
        <div class="tile__media">
          <img class="tile__img__medium" src="../assets/beer" alt=""  />
          <p>5 minutes</p>
          <h3>Beer Pong Ding Dong</h3>
        </div>
      </div>

    </div>
  </div>
</div>

<!--   EIVINDS TEMPORARY SHOW BUTTON -->

<button><%= link_to( "show", "/events/1" )  %></button>

<!-- next line displays an image from cloudinary!!! -->

   <!--  <% @events.each do |event| %>
    <%= cl_image_tag event.photo.key, height: 300, width: 400, crop: :fill %>
    <% end %> -->

<!-- the map below cant be seen because its behind the carrousel.
  Copy paste from line 10 to 15 and you have a map!! -->


