 <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="margin: 0; padding: 0;">
  <div class="modal-dialog modal-dialog-scrollable" role="document" style="margin: 0; padding: 0;">
    <div class="modal-content" style="padding: 0; background-color: rgba(0,0,0,0); border: none; border-top: 1px solid $egrayone; margin-top: 0;">
      <div class="modal-body" style="padding: 0; background-color: rgba(0,0,0,0); border: none; border-top: 1px solid $egrayone; margin-top: 0;">


        <%= render 'modal' %>
      </div>
    </div>

  </div>

</div>

