body,
html {
  margin: 0;
  color: #white;
  min-height: 100vh;
  width: 100%;
}

.contain {
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  display: -webkit-box;
  width: 100%;
  margin-bottom: 40px;
}

.justify-content-center {
  justify-content: center;
}

.pr-7 {
  padding-right: 7px;
}

.ml-12 {
  margin-left: 12px;
}

.number-missing {
  border: 1px solid #ff3b6b;
  border-radius: 4px;
  color: #ff3b6b;
  width: 45px;
}

.number-border {
  border-left: 1px $gray solid;
  border-right: 1px $gray solid;
}

.pr-20 {
  padding-right: 20px;
}

.pl-20 {
  padding-left: 20px;
}

.pr-40 {
  padding-right: 40px;
}

.pl-40 {
  padding-left: 40px;
}

.absolute {
  position: absolute;
}

.xs-small {
  font-size: .6rem;
  text-transform: uppercase;
  letter-spacing: .5px;
}


.tile__going {
  color: $black;
  background: white;
  width: 55px;
  height: 55px;
  text-align: center;
  margin: 0;
  padding-top: 13px;
}

.red {
  background: $red;
  color: white;
}

.tile_img_contain {
  display: flex;
  justify-content: left;
  align-items: center;
}

.text-white {
  color: white;
}

h3 {
  font-family: 'Canela Web';
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  font-size: 1.17rem;
  color: white;
  margin-bottom: 2px;
}

.number {
  font-family: 'Canela Web';
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  font-size: 1.17rem;
  text-align: center;
}

h2 {
  font-family: 'Canela Web';
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  font-size: 1.5rem;
  color: white;
  margin: 0;
}

.tile__going h2 {
  font-family: 'Canela Web';
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  font-size: 1.5rem;
}

p {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;;
  font-weight: 400;
  font-size: .9rem;
  color: white;
  margin-bottom: 0;
}

.small {
  font-size: .83rem;
  margin-bottom: .3rem;
}

.row {
  overflow: scroll;
  width: 100%;
  height: 465px;
  margin-left: 0px;
  margin-right: 0px;
  padding: 0 0 0 30px;
}

.row-medium {
  overflow: scroll;
  width: 100%;
  height: 425px;
  margin-left: 0px;
  margin-right: 0px;
  padding: 0 0 0 30px;
}

.row-small {
  overflow: scroll;
  width: 100%;
  height: 225px;
  margin-left: 0px;
  margin-right: 0px;
  padding: 0 0 0 30px;
}

.row::-webkit-scrollbar {
    display: none;
}

.row-small::-webkit-scrollbar {
    display: none;
}

.row-medium::-webkit-scrollbar {
    display: none;
}

.row__inner {
  -webkit-transition: 450ms -webkit-transform;
  transition: 450ms -webkit-transform;
  transition: 450ms transform;
  transition: 450ms transform, 450ms -webkit-transform;
  font-size: 0;
  white-space: nowrap;
}

.tile {
  position: relative;
  display: inline-block;
  background-color: #3f0542;
  //box-shadow: 0 0 10px 2px rgba(0,0,0,.1);
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.1);
  width: calc(100vw - 100px);
  margin-right: 15px;
  font-size: 20px;
  border-radius: 6px;
  -webkit-transition: 450ms all;
  transition: 450ms all;
  -webkit-transform-origin: center left;
          transform-origin: center left;
}

.text-green {
  color: $green;
}

.text-gray {
  color: $gray;
}

.mt-20 {
  margin-top: 20px;
}

.white-card {
  padding: 25px 25px 25px 20px;
}


.white-card-small {
  padding: 20px 25px 20px 20px
}

.tile__img {
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 6px 6px 0 0;
  opacity: 0.8;
}

.tile__img__medium {
  width: 101.5%;
  margin-bottom: -34px;
  position: relative;
  top: -36px;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.8;
}

.tile__img__small {
  width: 100%;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 6px;
  opacity: 0.8;
}

.text-red {
  color: $red;
}

.tile__small {
  position: relative;
  display: inline-block;
  width: calc(100vw/2 - 57px);
  margin-right: 15px;
  background-color: #3f0542;
  border-radius: 6px;
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.1);
  font-size: 20px;
  -webkit-transition: 450ms all;
  transition: 450ms all;
  -webkit-transform-origin: center left;
          transform-origin: center left;
}

.tile__details {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  font-size: 10px;
  opacity: 0;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0,0,0,0.9)), to(rgba(0,0,0,0)));
  background: linear-gradient(to top, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0) 100%);
  -webkit-transition: 450ms opacity;
  transition: 450ms opacity;
  position: initial;
  top: 50%;
  left: 50%;
}

.tile__title {
  position: absolute;
  bottom: 0;
  padding: 10px;
}

@media screen and (min-width: 415px) {
  .tile {
    width: 315px;
  }
  .tile__small {
    width: 150px;
  }
}

@media screen and (max-width: 374px) {
  .tile {
    width: calc(100vw - 60px);
  }
    .tile__img__medium {
    width: 100%;
  }
}

// .tile__details:after {
//   margin-top: -25px;
//   margin-left: -25px;
//   width: 50px;
//   height: 50px;
//   border: 3px solid #ecf0f1;
//   line-height: 50px;
//   text-align: center;
//   border-radius: 100%;
//   background: rgba(0,0,0,0.5);
//   z-index: 1;
// }
// .tile__details:before {
//   left: 0;
//   width: 100%;
//   font-size: 30px;
//   margin-left: 7px;
//   margin-top: -18px;
//   text-align: center;
//   z-index: 2;
// }
// .tile:hover .tile__details {
//   opacity: 1;
// }

// .row__inner:hover {
//   -webkit-transform: translate3d(-62.5px, 0, 0);
//           transform: translate3d(-62.5px, 0, 0);
// }
// .row__inner:hover .tile {
//   opacity: 0.3;
// }
// .row__inner:hover .tile:hover {
//   -webkit-transform: scale(1.5);
//           transform: scale(1.5);
//   opacity: 1;
// }
// .tile:hover ~ .tile {
//   -webkit-transform: translate3d(125px, 0, 0);
//           transform: translate3d(125px, 0, 0);
// }
