.button-big-black {
  height: 40px;
  border-radius: 30px;
  background: $black;
  color: white;
  text-align: center;
  padding-top: 9px;
  letter-spacing: 1px;
}

.user-background-image {
  width: 100%;
  object-fit: cover;
}

.user-background {
  width: 100%;
  background-blend-mode: luminosity;
  height: 100vh;
  background-size: cover;
  opacity: 0.2;
  background-color: #38063A;
  background-position: center;
}

.pt-20 {
  padding-top: 20px;
}

.b-black {
  background: $black;
  position: relative;
}

.mt-300 {
  margin-top: -300px;
}

.tile_event {
  width: 100%;
  background-color: #3f0542;
  border-radius: 6px;
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.1);
  font-size: 20px;
  -webkit-transition: 450ms all;
  transition: 450ms all;
  -webkit-transform-origin: center left;
  transform-origin: center left;
  margin-bottom: 40px;
  width: 50%;
  flex-grow: 1;
}

.tile_date {
  width: 35px;
  margin-right: 20px;
}


.tile__img__small__event {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 6px 6px 0 0;
  opacity: 0.8;
}


.margin-bottom-5 {
  margin-bottom: 5px;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-center {
  justify-content: center;
}

.text-center {
  text-align: center;
}

.button-size {
  width: 25%;
  margin: 0px 4px;
}

.user-profil {
  text-align: center;
  margin-top: 100px;
}

.button-gray {
  height: 30px;
  border-radius: 15px;
  background: $gray;
  color: white;
  padding: 6px 20px 0 20px;
  letter-spacing: 1px;
  text-align: center;
  margin-right: 5px;
}

.marginr-10 {
  margin-right: 10px;
}

.marginl-10 {
  margin-left: 10px;
}


.creator{
  border: solid $red;

.people-following{
  border: 2px solid $red;
}
